[submodule "assets/templates/cr-api-assets"]
	path = assets/templates/cr-api-assets
	url = https://github.com/RoyaleAPI/cr-api-assets.git

[submodule "vendor/external/Clash-Royale-Detection-Dataset"]
	path = vendor/external/Clash-Royale-Detection-Dataset
	url = https://github.com/wty-yy/Clash-Royale-Detection-Dataset.git

[submodule "vendor/external/KataCR"]
	path = vendor/external/KataCR
	url = https://github.com/wty-yy/KataCR.git

[submodule "data/seed_labels/cvat"]
	path = data/seed_labels/cvat
	url = https://github.com/cvat-ai/cvat.git
